@font-face {
  font-family: "Titan One";
  src: url(https://koyu.space/fonts/titan-one.woff2);
}

body {
  background: #223;
  padding-top: 60px;
}

.App {
  padding: 30px;
}

#logofont {
  font-family: "Titan One";
  font-weight: bold;
  font-size: 48pt;
  display: inline;
  color: #FE53E1;
}

#logo {
  vertical-align: middle;
  margin-top: -15px;
}

header {
  text-align: center;
  padding-bottom: 20px;
}

#content {
  color: #fff;
  margin-left: 28%;
}

.online {
  display: block;
  background: lime;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.servicename {
  color: #fff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  vertical-align: middle;
  margin-left: 58px;
  margin-top: -44px;
}

#statuses {
  position: absolute;
}

.mention,
.hashtag,
.invisible {
  display: none;
}

#incidents li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

#incidents {
  width: 50%;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.error {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #777;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  width: 50%;
  min-height: 20px;
}

.emoji {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

a, a:visited {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

@media(min-width:800px) {
  body {
    background: url(https://koyu.space/img/bg.jpg) #223;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .App {
    background: #223;
    margin: 30px;
    padding: 40px;
    padding-top: 80px;
    border-radius: 20px;
    min-height: 560px;
    width: 50%;
    margin: 0 auto;
  }
  #incidents {
    margin-left: 36.5%;
  }
}

@media(max-width:800px) {
  #logo {
    width: 48px;
    margin-top: -8px;
  }

  #logofont {
    font-size: 18pt;
  }

  .online {
    display: block;
    background: lime;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 10px;
  }

  header {
    padding-bottom: 30px;
  }

  body {
    padding-top: 0px;
  }

  .error {
    width: 100%;
    margin-left: -10px;
  }

  #incidents {
    width: 90%;
  }

  #statuses {
    position: relative;
  }

  #content {
    margin-left: 0;
  }
}